.md-header .md-logo {
    background-color: white;
    border-radius: 100%;
}

[data-md-component="toc"] .md-nav__link {
    display: inline-flex;
}

.md-typeset td pre {
    margin: 0;
}

/* increase the width of the while site */
.md-grid {
    max-width: 80rem;
}

/* increase the width of the right hand side bar to display long option names better*/
.md-sidebar--secondary {
    width: 25rem !important;
    left: -25rem !important;
}
